<section class="start">
   <div class="slider">
        <div class="slide active" style="background-image: url('static/pictures/type_of_tattoo.jpg');">
            <div class="overlay"></div>
            <div class="content">
                <h2 class="content_h">Type of tattoo</h2>
                <p class="content_text">Your skin is your canvas: tattoo styles.</p>
                <a href="#" class="btn-slide">More</a>
            </div>
        </div>
        <div class="slide" style="background-image: url('static/pictures/tatu_shop_interjer.webp');">
            <div class="overlay"></div>
            <div class="content">
                <h2 class="content_h">Our studio and Tattoo prices</h2>
                <p class="content_text">Each project is uniqule, and our prices are transparent.
                    <br>Find out how much your idea will cost before the session! 
                </p>
                <a href="#" class="btn-slide">More</a>
            </div>
        </div>
        <div class="slide" style="background-image: url('static/pictures/produkts.jpg');">
            <div class="overlay"></div>
            <div class="content">
                <h2 class="content_h">Ink & Gear</h2>
                <p class="content_text">From clothing with character to equipment for tattoo artists.</p>
                <a href="#" class="btn-slide">More</a>
            </div>
        </div>
        <div class="slide" style="background-image: url('static/pictures/about_us.jpg');">
            <div class="overlay"></div>
            <div class="content">
                <h2 class="content_h">Write - don't be shy, the ink is waiting!</h2>
                <p class="content_text">We respond quickly and without fuss.</p>
                <a href="#" class="btn-slide">Write to us</a>
            </div>
        </div>
    
        <button class="btn prev">&#10094;</button>
        <button class="btn next">&#10095;</button>
    
        <div class="dots"></div>
    </div>
</section>