<section class="start">
   <div class="slider">
        <div class="slide active" style="background-image: url('static/pictures/type_of_tatoo.jpg');">
            <div class="overlay"></div>
            <div class="content">
                <h2>Type of tattoo</h2>
                <p>ghfgfg</p>
                <a href="#" class="btn-slide">More</a>
            </div>
        </div>
        <div class="slide" style="background-image: url('');">
            <div class="overlay"></div>
            <div class="content">
                <h2></h2>
                <p></p>
                <a href="#" class="btn-slide"></a>
            </div>
        </div>
        <div class="slide" style="background-image: url('');">
            <div class="overlay"></div>
            <div class="content">
                <h2></h2>
                <p></p>
                <a href="#" class="btn-slide"></a>
            </div>
        </div>
        <div class="slide" style="background-image: url('');">
            <div class="overlay"></div>
            <div class="content">
                <h2></h2>
                <p></p>
                <a href="#" class="btn-slide"></a>
            </div>
        </div>
    
        <button class="btn prev">&#10094;</button>
        <button class="btn next">&#10095;</button>
    
        <div class="dots"></div>
    </div>
</section>