<section class="start">
   <div class="slider">
        <div class="slides">
            <div class="slide active">Баннер 1 — Добро пожаловать!</div>
            <div class="slide">Баннер 2 — Акции и скидки</div>
            <div class="slide">Баннер 3 — Новые товары</div>
            <div class="slide">Баннер 4 — Свяжитесь с нами</div>
        </div>

        <div class="controls">
            <button id="prev">&#10094;</button>
            <button id="next">&#10095;</button>
        </div>
    </div> 
</section>