<div class="conteiner_end">
    <div class="info_end">
        <h1 class="foot_importan">Contacts</h1>
        <ul class="block_end">
            <li class="list_end">+ 420 123 456 789</li>
        </ul>
    </div>
    <div class="info_end">
        <h1 class="foot_importan">Types of tattoos</h1>
        <ul class="block_end">
            <li class="list_end"></li>
        </ul>
    </div>
    <div class="info_end">
        <h1 class="foot_importan">Online shop and products</h1>
        <ul class="block_end">
            <li class="list_end"></li>
        </ul>
    </div>
    <div class="info_end">
        <div class="end_logo">
            <img src="static/pictures/skull.png" title="skull" class="end_picture">
            <h1 class="foot_importan">Marked by Darkness</h1>
        </div>
        <p></p>
    </div>
</div>
<div class="footer_botom">
    <p class="down_info">&copy; 2025 All rights reserved.<br>The logos are registered trademarks in the Czech Republic.</p>
</div>