<nav>
    <div class="logo">
        <a class="logo_link" href="base.html">
            <img class="skull" src="static/pictures/skull.png" title="DeadWish" alt="DeadWish_logo">
        </a>
    </div>
    <div class="Company">
        <h1 class="name">Marked by Darkness</h1>
    </div>
    <div class="menu">
        <div class="dropdown">
            <div class="menu">
                <span class="reference_men">Types of tattoos</span>
                <div class="dropdown_content">
                    <a class="reference_shadow" href="">Blackworks</a>
                    <a class="reference_shadow" href="">Irezumi</a>
                    <a class="reference_shadow" href="">Old school</a>
                    <a class="reference_shadow" href="">Dotwork</a>
                    <a class="reference_shadow" href="">Polynesian</a>
                    <a class="reference_shadow" href="">Philosophical</a>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <div class="menu">
                <span class="reference_men">Online shop and products</span>
                <div class="dropdown_content">
                    <a class="reference_shadow" href="">Paints and needles</a>
                    <a class="reference_shadow" href="">Tattoo machines</a>
                    <a class="reference_shadow" href="">Gel and transfer paper</a>
                    <a class="reference_shadow" href="">Caps, gloves and other items</a>
                </div>
            </div>
        </div>
        <a class="reference_men" href="">About us</a>
        <a class="reference_men special" href="">Contacts</a>
        <a class="reference_men" href="">CZ</a>
    </div>
</nav>